html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 90px;
  /* espacio para la navbar fija */
  font-family: "Century Gothic Family", sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f8f8fc);
  color: #1f1f1f;
}

/*barra de navegacion*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* para que esté por encima */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 80px;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 1px 05px 0px rgb(0, 0, 0, 0.5);
  border: none;
}


/*idioma*/
#language-selector {
  position: relative;
  display: inline-block;
}

#language-selector select:hover {
  color: #0B6938;
}

#language-selector select {
  color: #333;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
}

#language-selector select:focus {
  outline: none;
}

#language-selector select option {
  color: #333;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.03);
}

nav a {
  margin: 0 1rem;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #0B6938;
}

.acciones {
  display: flex;
  gap: 0.8rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sociales,
.ingresar {
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

.crear {
  background-color: #0B6938;
  color: #fff;
}

/*contenedor*/
.contenedor {
  max-width: 600px;
  margin: 3rem auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  color: #555;
  margin-bottom: 2rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 0.75rem;
  scrollbar-width: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.importar {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
}

.importar,
.limpiar {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: none;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

section {
  margin: 3rem auto;
  padding: 2rem;
  width: 55%;
}

.comenzar {
  background-color: #0B6938;
  box-shadow: 1px 1px 05px 0px rgb(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.comenzar,
.crear:hover {
  background-color: #0a5c2f;
}

.sociales:hover,
.ingresar:hover {
  color: #0a5c2f;
}

.importar:hover {
  color: #0a5c2f;
}

.limpiar:hover {
  color: #0a5c2f;
}

p strong {
  color: #F6BE0D;
}

.text-p {
  text-align: left;
}

.hr2 {
  border: 0;
  height: 1px;
  background: #dcdcdc;
  margin: 2rem 0;
}

.container {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.insta,
.face {
  transition: transform 0.3s ease;
}

.insta:hover,
.face:hover {
  transform: rotate(20deg);

}

input,
textarea {
  transition: border 0.3s ease;
}

input.error-border,
textarea.error-border {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.error.show {
  opacity: 1;
  transform: translateY(0);
}

#labelArchivo:hover {
  cursor: pointer;
  color: #0a5c2f;
}

.archivo-input {
  display: none;
}

/*seccion de pie de pagina*/
.footer {
  background-color: #f4f4f4;
  color: #000000;
  padding: 40px 20px 20px 20px;
}

.footer-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-seccion {
  flex: 1 1 200px;
}

.footer-seccion h3,
.footer-seccion h4 {
  margin-bottom: 10px;
  color: #0B6938;
}

.footer-seccion ul {
  list-style: none;
  padding: 0;
}

.footer-seccion ul li {
  margin-bottom: 8px;
}

.footer-seccion ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-seccion ul li a:hover {
  color: #0a5c2f;
  cursor: pointer;

}

.footer-seccion li:hover {
  color: #0a5c2f;
  cursor: pointer;
}

.footer-copy {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  color: #ccc;
}

/*tema oscuro*/
/* Tema oscuro */
body.oscuro {
  background: #121212;
  color: #ffffff;
}

.containerHelp .text-p p {
  color: #b4b4b4;
}

body.oscuro .navbar,
body.oscuro .footer,
body.oscuro .footer-copy {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.oscuro .formulario input,
body.oscuro .formulario textarea {
  background-color: #2c2c2c;
  color: #ffffff;
  border-color: #444;
}

body.oscuro #language-selector select {
  background-color: #2c2c2c00;
  color: #ffffff;
}

body.oscuro #language-selector select option {
  background-color: #2c2c2c;
  color: #ffffff;
  border-radius: 5px;
}

body.oscuro #language-selector select:hover {
  color: #F6BE0D;
}


body.oscuro .btn,
body.oscuro .btn.ingresar {
  color: #fff;
}

body.oscuro .btn:hover,
body.oscuro .btn.ingresar:hover {
  color: #F6BE0D;
}

body.oscuro .comenzar {
  color: #fff;
}

body.oscuro .comenzar:hover,
body.oscuro .crear:hover {
  background-color: #094b26;
}

body.oscuro a {
  color: #90caf9;
}

body.oscuro .hr2 {
  background: #444;
}

#darkModeToggle {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
}

#darkModeToggle:hover {
  color: #0a5c2f;
}

/* Oscuro */
body.oscuro #darkModeToggle {
  color: #fff;
}

body.oscuro #darkModeToggle:hover {
  color: #F6BE0D;
}

body.contenedor #comenzarBtn {
  background-color: #F6BE0D;
}

body.contenedor #comenzarBtn:hover {
  background-color: #e6a800;
}

body.contenedor #importarBtn:hover,
body.contenedor #limpiarBtn:hover {
  color: #F6BE0D;
}

body.footer-contenido h3,
body.footer-contenido h4,
body.footer-contenido a,
body.footer-contenido ul li a {
  color: white;
}

body.footer-contenido p {
  color: #b4b4b4;
}

body.footer-copy p {
  color: #b4b4b4;
}

body.footer-contenido ul li a:hover {
  color: #F6BE0D;
}

body#numberPhone1:hover,
body#numberPhone2:hover {
  color: #F6BE0D;
}

body.footer-contenido strong:hover,
body.footer-seccion ul li:hover {
  color: #F6BE0D;
}

/*responsive*/
/* Responsive para tablets */
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    padding: 1rem 0.5rem;
  }

  nav a {
    margin: 0.5rem;
  }

  .acciones {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  section {
    width: 80%;
    padding: 1.5rem;
  }

  .contenedor {
    margin: 2rem auto;
    padding: 0 1rem;
  }

  .footer-contenido {
    flex-direction: column;
    align-items: center;
  }

  .footer-seccion {
    width: 100%;
    text-align: center;
  }
}

/* Responsive para celulares */
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  #logoPrincipal {
    display: none;
  }

  #language-selector {
    display: flex;
    align-items: center;
  }

  #language-selector select {
    white-space: nowrap;
    display: inline-block;
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
    height: 100px;
    gap: 10px;
    position: relative;
  }

  .logo {
    font-size: 1.1rem;
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav a {
    margin: 0.5rem 0;
  }

  .acciones {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }

  section {
    width: 90%;
    padding: 1rem;
  }

  .contenedor {
    margin: 2rem auto;
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .formulario input,
  .formulario textarea {
    font-size: 0.95rem;
  }

  .btn {
    font-size: 0.95rem;
    padding: 0.6rem 1rem;
  }

  .footer-seccion h3,
  .footer-seccion h4 {
    font-size: 1rem;
  }

  .footer-copy {
    font-size: 12px;
  }

    #darkModeToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #ffffff;
    border: none;
    font-size: 1.5rem;
    color: #333;
    padding: 0.6rem;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  body.oscuro #darkModeToggle {
    background-color: #121212;
  }

  body.oscuro #darkModeToggle:hover {
    color: #F6BE0D;
  }
}